span.css-10trblm.e16nr0p30
{
  text-align: center;
  background-color: transparent;
  font-family: 'Circular-Loom';
  border-radius: 10px;
}

div.css-184tjsw.e16nr0p34
{
  background-color: transparent;
  font-family: 'Circular-Loom';
  border-radius: 10px;
  font-size: 16px;
}

div.st-b3.st-b8.st-d0.st-b1.st-bk.st-ae.st-af.st-ag.st-ah.st-ai.st-aj.st-cm.st-cx
{
  background-color: #e5e5f7;
}
