span.css-10trblm.e16nr0p30
{
  text-align: center;
  background-color: azure;
  font-family: 'Circular-Loom';
  border-radius: 10px;
}

section.main.css-k1vhr4.egzxvld3
{
  background-color: "beige";
}

div.css-72ssdm.e1tzin5v3
{
  display: "none";
  background-color: "beige";
}
